<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <div id="container">
        <form action="/imageupload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" placeholder="enter your img file" id=""><br>
            <input type="text" name="name" placeholder="enter your name" id=""><br>
            <input type="text" name="desc" placeholder="enter your description" id=""><br>
            <input type="submit" value="upload_folder">
        </form>
    </div>
</body>
</html>